<div class="container mt-5">
  <div class="row">
    <div class="col">
      <p style="color: green;"><%= notice %></p>
      <h1>Articles</h1>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div id="articles">
        <% @articles.each do |article| %>
          <%= render article %>
          <p>
            <%= link_to "Show this article", article, class: "btn btn-primary" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <%= link_to "New article", new_article_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <%== pagy_bootstrap_nav @pagy %>
    </div>
  </div>
</div>
